// $primary: #4285f4;
$primary:#4d4d4d;
$danger: #F44336;
$active: #009688;
$light:white;
$main:#ef4000;
$secondary:#97c00e;
$background:#f2f2f2;
$btn-color:#5bc0de;
$efkon-theme: #ec3f00;
$table-border-color:#ddd;
$thead-bg:#f5f5f5;
$label-color: #7b7b7b;
$box-shadow-color:#c2bcbc;
$road-color:#797676;
$dark:#7b7b7b;

// test change